<p class="lead">You have already completed this quiz.</p>
<%= link_to 'View Results', user_path(@current_user), :class => "btn btn-success" %>
<%= link_to 'Find a new quiz', root_url, :class => "btn btn-warning" %>