<div id="graph_box">
  <h3>Your Quiz History</h3>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-primary" id="graph_c">
      <input type="radio" name="options" id="option3"> Quiz Scores
    </label>
    <label class="btn btn-primary" id="graph_a">
      <input type="radio" name="options" id="option1"> Latitudes
    </label>
    <label class="btn btn-primary" id="graph_b">
      <input type="radio" name="options" id="option2"> Quiz Name vs ID
    </label>

<!--     <label class="btn btn-primary" id="graph_d">
      <input type="radio" name="options" id="option4"> Quiz Name vs ID
    </label>-->
  </div>
  <div id="chart">
  </div>
</div>