<h1>Form</h1>
<% @questions.each do |question| %>
  <%= simple_form_for @user_answer, :remote => true do |f| %>
    <ol>
      <li><h3><%= question.content %></h3></li>
      <ul>
        <li><%= f.input :answer_id, :collection => question.answers.map { |e| [e.content, e.id]}, :as => :radio_buttons %></li>
      </ul>
    </ol>
    <%= f.submit :class => "question_submit" %>
  <% end %>
<% end %>