<form action="/users/new" accept-charset="UTF-8" class="simple_form new_user" id="new_comment" method="post">
  <fieldset>
    <legend>Sign Up!</legend>
    <div class="control-group string required user_name">
      <label for="name" class="string required control-label">
        <abbr title="required"> * Full Name</abbr>
      </label>
      <div class="controls">
        <input type="text" class="string required xxlarge" id="name" name="user[name]">
      </div>
    </div>
    <div class="control-group string required user_email">
      <label for="email" class="string required control-label">
        <abbr title="required"> * Email</abbr>
      </label>
      <div class="controls">
        <input type="text" class="string required xxlarge" id="email" name="user[email]">
      </div>
    </div>
    <div class="control-group string required user_address">
      <label for="address" class="string required control-label">
        <abbr title="required"> * Address</abbr>
      </label>
      <div class="controls">
        <input type="text" class="string required xxlarge" id="address" name="user[address]">
      </div>
    </div>
    <br>
    <br>
    <div class="form-actions">
      <input type="submit" name="commit" value="Create User" class="btn btn-primary">
    </div>
  </fieldset>
</form>





































=======
>>>>>>> 1446bdc03725d1db4c6a60c644405ef6522ea76f
>>>>>>> 1fdf421a61e8d6ce798c6feb9e171ce11457afad
