<h1> Welcome to Quizr </h1>

<h3> Latest Quizzes </h3>

<% @quizzes.each do |quiz| %>
  <ul>
    <li><%= link_to quiz.name, quiz %></li>
    <li><%= quiz.questions.count %> questions</li>
  </ul>
<% end %>

<h3> Users </h3>
<% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user %></li>
  </ul>
  <% end %>

  <%= button_tag link_to "Create quiz", new_quiz_path %>
