// Quiz view styling
body {
  padding-top: 60px;
}

#question-block {
  width: 100%;
  height: 100%;
  position: absolute;


}

.question-inner-container {
  width: 600px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;


}

.question-content {
  background: white;
  opacity: 1;
  width: 600px;
  height: 1000px
}
