<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Quizr</a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/user">Your Profile</a></li>

      <li><a href="/quizzes/new">New Quiz</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genres<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Front-End</a></li>
          <li><a href="#">Back-End</a></li>
          <li><a href="#">All</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Find a quiz!">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if @current_user.nil? %>
        <li><a href="/session/new">Login</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% else %>
        <li><%= link_to 'Log Out', login_path, :method => :delete %>
      <% end %>
    </ul>
  </div>
</nav>